{% extends "base.html" %}
{% load static %}

{% block title %}Main Page{% endblock %}
{% block style %}{% static 'css/main_style.css' %}{% endblock %}
{% block menu %}
    <li class="list">
        <div class="new_card_button">
            <a href="{% url 'new_card' %}">Добавить нового гостя</a>
        </div>
    </li>
{% endblock %}
{% block content %}
        <h1>Гостевая книга</h1>
        <div class="card_container">
            {% for card in cards %}
                <div class="card_box">
                    <h2>{{card.name}}</h2>
                    <h3>{{card.mail}}</h3>
                    <div class="box">
                        <a href="" class="btn btn-danger">Удалить</a>
                        <a href="{% url 'update_card' card.pk %}" class="btn btn-primary">Редактировать</a>
                    </div>
                    <h3>{{card.description}}</h3>
                </div>
                <hr>
            {% endfor %}
        </div>
{% endblock %}

