<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
</head>
<body>
    <div class="container">
        <h1>To-do task manager!</h1>
        <div class="task_container">
            {% for task in tasks %}
                <div class="task_box">
                    <h2>{{task.description}}</h2>
                    <h3>Status: {{ task.task_status}}</h3>
                    <h3>Finish date: {{task.date}}</h3>
                    <p><a href="{% url 'task_details' task.pk %}">Подробнее</a></p>
                </div>
                <hr>
            {% endfor %}
        </div>
        <div class="new_task_button">
            <a href="{% url 'new_task' %}">
                Добавить новую задачу
            </a>
        </div>
    </div>
</body>
</html>